@{
    ViewBag.Title = "About U.S";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p id="about">OUR METHODOLOGY</p>
<h1 class="desc_wrapper">
    We have successfully delivered business solutions for 15 years and it has earned us the trust of our customers across a number of industries. We have captured that experience in our proprietary engagement methodology that ensures high quality and customised business solutions to meet each client’s specific requirements.
</h1>

<p id="about">
    Management consulting services
</p>

<h1 class="desc_wrapper">
    We provide professional and personalised business advice to ensure that your business requirements are aligned.
</h1>

<p id="about">
    Solution specific consultations
</p>

<h1>
    Our products are unique and our product managers will talk and walk you through each one to make sure you understand how they work and why they are suitable for your organisation.
</h1>

<p id="about">
    Business analysis & Workflow
</p>

<h1>
    Business Analysis as a practice helps to facilitate change in an organisation by defining needs and recommending solutions that deliver value to stakeholders.
</h1>

<p id="about">
    Project Management
</p>

<h1>
    Gap analyses to establish what is required to ensure that the solutions and systems you have in your business are aligned with the strategies you want implemented.
</h1>