<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{

    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Abdullah Mouallem<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">+46704550520</abbr>
</address>

<address>
    <a href="gmail.com" class="fa fa-google"></a>
    <a href="https://www.facebook.com/abbduallah.moullem" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
</address>


