
@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <section>
            <h1>Computer Engineering</h1>
            <p id="text-it">
                School IT, established in 2019
                provides agile business solutions for cloud ERP infrastructure-as-a-service (IaaS) and data analytics for small to medium enterprises.
                These solutions enable customers to safely and securely deploy ERP and advanced dashboard data analytics in on-premise, private, public, and hybrid cloud environment.
                They benefit from advanced security, improved reliability, highly accessible data, and the economies of scale.
            </p>
        </section>


        <div class="container">
            <h2>IT</h2>
            <p id="text-it">Information technology (IT) is the use of computers to store, retrieve, transmit, and manipulate data,[1] or information, often in the context of a business or other enterprise.[2] IT is considered to be a subset of information and communications technology (ICT). An information technology system (IT system) is generally an information system, a communications system or, more specifically speaking, a computer system – including all hardware, software and peripheral equipment – operated by a limited group of users.</p>
            <img src="~/system.jpg" class="rounded-circle" alt="Cinque Terre" width="304" height="236" style="border-radius: 50%">
        </div>
    </body>